<ul class="nav">
    <li class="blue gradient">
        <div><span>Home</span></div>
    </li>
    <li class="green gradient">
        <div><span>Portfolio</span></div>
    </li>
    <li class="orange gradient">
        <div><span>Blog</span></div>
    </li>
    <li class="yellow gradient">
        <div><span>About me</span></div>
    </li>
    <li class="purple gradient">
        <div><span>Contact</span></div>
    </li>
</ul>
