<ul class="nav">
    <li class="blue gradient">
        <div class="gradient"><span>Home</span></div>
    </li>
    <li class="green gradient">
        <div class="gradient"><span>Portfolio</span></div>
    </li>
    <li class="orange gradient">
        <div class="gradient"><span>Blog</span></div>
    </li>
    <li class="yellow gradient">
        <div class="gradient"><span>About me</span></div>
    </li>
    <li class="purple gradient">
        <div class="gradient"><span>Contact</span></div>
    </li>
</ul>
