<div class="grid_3 navigation active blue gradient" id="navigation" data-navigator="blue">
    {% image '@KrisrybakLayoutBundle/Resources/public/images/logo-white.png' %}
        <a href="#" class="navigation-btn"><img src="{{ asset_url }}" width="198" height="116" alt="krisrybak.com" title="krisrybak.com"></a>
    {% endimage %}
</div>
<div class="grid_9" id="subnavigation">
    <ul class="nav active">
        <li class="blue gradient active">
            <a href="{{ path('home') }}">
                <div class="gradient"><span>Home</span></div>
            </a>
        </li>
        <li class="green gradient">
            <div class="gradient"><span>Portfolio</span></div>
        </li>
        <li class="orange gradient">
            <div class="gradient"><span>Blog</span></div>
        </li>
        <li class="yellow gradient">
            <div class="gradient"><span>Projects</span></div>
        </li>
        <li class="purple gradient">
            <div class="gradient"><span>About me</span></div>
        </li>
        <li class="pink gradient">
            <div class="gradient"><span>Contact</span></div>
        </li>
    </ul>
</div>
